.button
    position: relative
    display: inline-flex
    width: auto
    align-items: center
    justify-content: center
    text-transform: capitalize
    text-decoration: none
    outline: none
    user-select: none
    box-shadow: none
    transition: all 300ms ease
    &-border
        box-shadow: inset 0 0 0 1px var(--color-light-green)
        color: var(--color-light-green) !important
        padding: 0 gem(30)
        height: gem(44)
        &:hover
            box-shadow: inset 0 0 0 3px var(--color-light-green)
    &-bg
        background: var(--color-light-green)
        height: gem(50)
        padding: 0 gem(59)
        &:hover
            background: var(--color-light-lighten)
        &:active
            background: var(--color-light-darken)
    &-arrow
        padding-right: gem(17)
        line-height: gem(32)
        &:hover
            .button-icon
                transform: translateX(gem(4))
        .button-icon
            position: absolute
            right: 0
            width: gem(9)
            transition: all 300ms ease