.header
    display: block
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 100
    background: var(--grad-header)
    &.dark
        .logo-triangle
            fill: var(--color-green-logo)
        .logo-text
            fill: var(--color-blue)
        .logo-planes
            fill: var(--color-blue)
        .menu-item-link,
        .sub-menu-item-link
            color: var(--color-sapphire2) !important
    &-container
        display: flex
        align-items: center
        justify-content: space-between
        padding: gem(40) 0
        width: gem(1400)
        min-width: gem(1400)
        margin: 0 auto

.logo
    display: flex
    align-items: center
    width: gem(171)
    outline: none
    text-decoration: none
    &-image
        width: 100%
        height: auto
    &-triangle
        fill: var(--color-white)
    &-text
        fill: var(--color-white)
    &-planes
        fill: var(--color-green-logo)

.menu
    display: flex
    align-items: center
    justify-content: space-between
    width: gem(894)
    &-wrap
        margin-right: gem(25)

.menu-item
    position: relative
    display: flex
    align-items: center
    justify-content: center
    min-height: gem(44)
    &-link
        transition: color 300ms ease
    &:hover
        .menu-item-link
            color: var(--color-light-green)
    &:active
        .menu-item-link
            color: var(--color-green)
    .menu-item-arrow
        position: absolute
        display: none
        transform-origin: 50% 50%
        transition: transform 300ms ease
    &.with-children
        padding-right: gem(16)
        .sub-menu
            display: flex
        &:hover
            .menu-item-arrow
                transform: rotateX(180deg)
            .menu-item-link
                color: var(--color-white)
                font-weight: bold
                ~ .sub-menu
                    opacity: 1
                    visibility: visible
        &:after
            width: calc(100% - #{gem(16)})
        .menu-item-arrow
            display: inline-block
            width: gem(8)
            right: 0

.sub-menu
    position: absolute
    display: none
    align-items: center
    justify-content: flex-start
    flex-direction: column
    width: max-content
    top: 0
    padding: gem(60) gem(16) gem(16)
    opacity: 0
    visibility: hidden
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) gem(44), var(--color-midnight-blue) gem(44), var(--color-midnight-blue) 100%)
    transition: all 300ms ease

.sub-menu-item
    position: relative
    display: flex
    align-items: center
    transition: all 300ms ease
    &-link
        transition: color 300ms ease
    &:hover
        .sub-menu-item-link
            color: var(--color-light-green)
    &:active
        .sub-menu-item-link
            color: var(--color-green)
    &:not(:last-child)
        margin-bottom: gem(12)

.hamburger
    position: relative
    display: none
    flex-direction: column
    align-items: center
    justify-content: center
    width: gem(44)
    height: gem(44)
    cursor: pointer
    left: gem(6)
    span
        display: inline-flex
        align-items: center
        background: var(--color-white)
        height: 2px
    .chop
        width: gem(32)
        margin-bottom: gem(4)
    .bread
        width: gem(24)
        margin-left: gem(8)

@media all and (max-width: 1024px)

    .hamburger
        display: flex

    .header
        &-container
            padding: gem(20) 0
            width: gem(335)
            min-width: gem(335)
            > .button
                display: none

    .logo
        width: gem(145)

    .menu
        &-wrap
            display: none