\:root
    --color-black:                   #000000
    --color-white:                   #ffffff
    --color-white-opacity07:         rgba(255, 255, 255, .7)
    --grad-midnight-moss:            linear-gradient(-180deg, #1B1F1D 0%, #1B1F1D 26%, rgba(27,31,29,0.00) 98%)