.about-benefits-section
	background: var(--grad-blue-dark-blue)
	padding-top: gem(347)
	padding-bottom: gem(393)
	h1
		font-size: gem(60)
		line-height: gem(80)
	.about-header-photo
		img
			&:nth-child(2)
				position: absolute
				right: gem(0)
				top: gem(169)
				width: gem(790)
			&:nth-child(1)
				position: absolute
				right: gem(441)
				top: gem(390)
				width: gem(414)

.about-main-section

	p
		font-size: var(--font-size-desc1)
		mix-blend-mode: normal
		opacity: 0.8
		color: #030F2E
		line-height: gem(32)
		position: relative
		top: gem(20)
		padding-bottom: gem(20)
	h2
		position: relative
	.about-main-section-one
		width: 100%
		margin-bottom: gem(160)
		margin-top: gem(160)
		display: flex
		flex-direction: row
		align-items: center
		justify-content: left
		h2
			max-width: gem(445)

			right: gem(-50)
		p
			max-width: gem(486)
			right: gem(-50)

			
	.about-main-photo-one
		
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		align-items: center
		margin-right: gem(-220)
		img
			display: inline-block
			position: relative
			&:nth-child(1)
				width: gem(483)
				z-index: 2
				box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
				
			&:nth-child(2)

				z-index: 1

				left: gem(-340)
				width: gem(384)
	.about-main-section-two
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		align-items: center
		overflow-x: hidden
		justify-content: flex-end
		h2
			max-width: gem(498)

			right: gem(120)
		p
			max-width: gem(500)

			right: gem(120)
	.about-main-photo-two
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		align-items: center
		margin-right: gem(-321)
		overflow-x: hidden
		img
			display: inline-block
			position: relative
			&:nth-child(1)
				right: gem(-65)
				
				width: gem(688)
				z-index: 2
				box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
			&:nth-child(2)
				right: gem(670)
				z-index: 1
				width: gem(384)
	.about-main-section-three
		width: 100%
		margin-bottom: gem(120)
		margin-top: gem(160)
		display: flex
		flex-direction: row
		align-items: center
		justify-content: left
		h2
			max-width: gem(489)
			right: gem(-50)
		p
			max-width: gem(486)
			right: gem(-50)
		.about-main-photo-one
			img
				&:nth-child(1)
					width: gem(687)
				&:nth-child(2)
					width: gem(384)
	.about-main-section-four
		background: #082960
		padding-top: gem(160)

		h2, p
			color: #fff
		h2
			font-size: gem(44)
			font-weight: var(--font-weight-5)
			text-align: center
			margin-bottom: gem(80)
			font-family: var(--sub-font)
		.about-main-content-four
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			align-items: top
			justify-content: flex-end
			.about-content-four-text
				width: gem(588)
				margin-right: gem(125)
			.about-main-photo-four
				max-width: gem(686)
				margin-bottom: gem(-277)
				img
					position: relative
					
					&:nth-child(1)
						width: gem(686)
						box-shadow: 24px 32px 70px rgba(11, 20, 62, 0.117734)
						z-index: 2
					&:nth-child(2)
						width: gem(413)
						margin-left: gem(78)
						top: gem(-360)
						z-index: 1
.our-story
	margin-top: gem(160)
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	margin-bottom: gem(152)
	.our-story-content-left	
		width: gem(687)
		.our-story-two
			position: relative
			top: gem(-132)
			left: gem(314)
			z-index: 1
			width: gem(414)
			margin-bottom: gem(-400)

		.our-story-photo
			background: linear-gradient(90deg, #E9EEEE 9.17%, #F0F4F2 51.4%, #F5F7F7 100%)
			box-shadow: 24px 32px 70px rgba(11, 20, 62, 0.117734)
			
			padding-top: gem(43)
			position: relative
			z-index: 2
			margin-top: gem(-110)
			img
				position: relative

				width: 100%
				margin-bottom: gem(-20)

		.small_text
			text-align: center
			margin-top: gem(4)
			font-size: gem(14)
			line-height: var(--line-height-desc2)
			color: #030F2E
			opacity: 1
			font-weight: var(--font-weight-6)
	.our-story-content
		width: gem(588)
		margin-left: gem(125)
		h2
			font-size: gem(44)
		p
			top: gem(40)