@import './common/gem.scss'

.hero-section
    min-height: gem(900)
    background: var(--grad-blue-dark-blue)
    display: flex
    align-items: center
    &-container
        position: static
    &-title
        margin-bottom: gem(20)
        white-space: nowrap
    &-subtitle
        margin-bottom: gem(40)
    &-image
        position: absolute
        top: gem(105)
        left: gem(836)
        width: gem(582)
        height: auto
    .text-block
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        margin-top: gem(30)
        max-width: gem(435)

.home-benefits-section
    background: var(--color-dark-blue)
    min-height: gem(752)
    padding-top: gem(60)
    &-container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
    &-title
        margin-bottom: gem(60)

.benefits
    display: flex
    align-items: flex-start
    align-content: space-between
    justify-content: space-around
    flex-wrap: wrap
    width: gem(960)
    height: gem(444)

.benefits-item
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    text-align: center
    width: gem(285)
    padding: gem(84) 0 gem(15)
    transition: background-color 300ms ease
    &:hover
        background: var(--color-white)
        .benefits-item-title
            color: var(--color-dark-blue)
        .benefits-item-subtitle
            color: var(--color-dark-blue)
        .benefits-item-image
            .icon-path
                fill: var(--color-dark-blue)
        .button-arrow
            color: var(--color-green)
    &-title
        margin-bottom: gem(8)
        transition: color 300ms ease
    &-subtitle
        margin: 0 auto gem(16)
        max-width: gem(242)
        transition: color 300ms ease
    &-image
        position: absolute
        top: gem(24)
        width: gem(48)
        .icon-path
            fill: var(--color-white)
            transition: fill 300ms ease

.industries-section
    padding: gem(160) 0
    overflow: hidden
    &-container
        display: flex
        align-items: flex-start
        justify-content: flex-start
    &-title
        max-width: gem(480)
        margin-bottom: gem(247)
    &-left-block
        margin-right: gem(30)
    &-right-block
        display: flex
        align-items: flex-start
        justify-content: flex-end
        flex-wrap: wrap
        width: gem(697)

.industries-wrap
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start

.industries-title
    margin-bottom: gem(28)

.industries
    position: relative
    display: flex
    align-items: center
    align-content: space-between
    justify-content: flex-start
    flex-wrap: wrap
    width: gem(403)
    height: gem(182)
    &-item
        display: inline-flex
        align-items: center
        &:nth-child(1)
            margin-right: gem(30)
            .industries-item-image
                width: gem(100)
        &:nth-child(2)
            margin-right: gem(30)
            .industries-item-image
                width: gem(89)
        &:nth-child(3)
            .industries-item-image
                width: gem(154)
        &:nth-child(4)
            margin-right: gem(30)
            .industries-item-image
                width: gem(248)
        &:nth-child(5)
            .industries-item-image
                width: gem(117)
        &:nth-child(6)
            margin-right: gem(30)
            .industries-item-image
                width: gem(161)
        &:nth-child(7)
            margin-right: 0
            .industries-item-image
                width: gem(142)

.i-categories
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-direction: column
    width: gem(589)
    margin-bottom: gem(20)
    &-desc
        margin-left: gem(80)
        width: gem(589)
        span
            font-weight: 700
    &-item
        display: flex
        align-items: flex-start
        width: 100%
        cursor: pointer
        &-content
            position: relative
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            width: 100%
            height: gem(96)
            padding: 0 gem(40)
            transition: all 300ms ease
            &:after
                position: absolute
                content: ''
                top: 0
                left: 0
                width: 100%
                height: 100%
                transition: all 300ms ease
                border-radius: gem(2)
                background: var(--color-white)
                box-shadow: 0 0 0 1px var(--color-pale-turquoise)
                z-index: -1
                pointer-events: none
                transform-origin: 0 100%
        &:not(:last-child)
            margin-bottom: gem(20)
        &:hover
            .i-categories-item-content
                transform: translateX(gem(-80))
                &:after
                    box-shadow: gem(24) gem(32) gem(70) gem(-8) var(--color-shadow)
                    transform: scaleY(1.82)
            .i-categories-item-title
                transform: translateY(gem(-40))
                color: var(--color-dark-blue)
            .i-categories-item-button
                display: inline-flex
                opacity: 1
                transform: translateY(gem(-40))
            .i-categories-item-image
                opacity: 1
                transform: translateY(gem(-24))
                transition: all 300ms 100ms ease
        &-title
            margin-bottom: gem(8)
            transform: translateY(gem(14))
            transition: all 300ms ease
        &-button
            opacity: 0
        &-image
            position: absolute
            width: gem(297)
            bottom: 0
            right: gem(27)
            opacity: 0
            transition: all 200ms 0ms ease
            transform: translateY(gem(-40))
            pointer-events: none

.customer-success-section
    padding: 0 0 gem(190)
    min-height: gem(861)
    &-container
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: column
    &-title
        margin-bottom: gem(8)
    &-link
        margin-bottom: gem(149)
        text-decoration: underline

.customer-success-slider
    position: relative
    display: flex
    align-items: flex-start
    justify-content: center
    width: gem(1200)
    margin: 0 gem(-10)
    .slick-dots
        bottom: gem(-22)
    .slick-list
        height: gem(520)

.slick-track
    display: flex !important
    align-items: flex-end !important

.slick-dots
    position: absolute
    bottom: 0
    display: inline-flex
    align-items: center
    justify-content: flex-start
    li
        display: inline-flex
        align-items: center
        &:not(:last-child)
            margin-right: gem(12)
        &.slick-active
            button
                transform: scale(1.75)
        button
            display: inline-flex
            align-items: center
            border: none
            outline: none
            user-select: none
            font-size: 0
            width: gem(8)
            height: gem(8)
            padding: 0
            border-radius: 50%
            opacity: 0.6
            transition: all 300ms ease
            background: var(--color-medium-turquoise)
            transform-origin: 50% 50%

.customer-success-slide
    position: relative
    outline: none
    width: gem(386) !important
    margin: 0 gem(10)
    box-shadow: gem(4) gem(8) gem(32) gem(-8) var(--color-shadow2)
    border-radius: gem(4)
    overflow: auto
    &-content
        display: flex
        align-items: flex-start
        justify-content: flex-start
        flex-direction: column
        position: absolute
        bottom: 0
        left: 0
        background: var(--color-white)
        width: gem(278)
        padding: gem(12)
    &-text
        margin-bottom: gem(16)
        line-height: gem(32) !important

.partners-section
    position: relative
    padding-top: gem(160)
    min-height: gem(803)
    &-title
        max-width: gem(550)
        margin-bottom: gem(80)
    &-bg
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: gem(890)
        background: var(--color-sapphire)
        pointer-events: none
        z-index: -1

.partners
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-direction: column
    &-item
        position: relative
        display: flex
        align-items: center
        padding-left: gem(60)
        opacity: 0.6
        cursor: pointer
        transition: all 300ms ease
        user-select: none
        &:not(:last-child)
            margin-bottom: gem(48)
        // &:hover,
        &.active
            opacity: 1
            &:before
                transform: scale(1.5)
            &:after
                transform: scaleX(1)
            .partners-item-image 
                ~ .partners-item-card
                    opacity: 1
                    visibility: visible
        &:before
            position: absolute
            content: ''
            left: 0
            width: gem(8)
            height: gem(8)
            transform-origin: 50% 50%
            transition: all 300ms ease
            background: var(--color-medium-turquoise)
            border-radius: 50%
        &:after
            position: absolute
            content: ''
            left: gem(363)
            width: gem(62)
            height: gem(1)
            transition: all 300ms ease
            transform-origin: 0 50%
            background: var(--color-white)
            transform: scaleX(0)
        &-card
            position: absolute
            display: flex
            align-items: flex-start
            justify-content: flex-start
            flex-direction: column
            top: gem(-44)
            left: gem(408)
            background: var(--color-medium-turquoise)
            width: gem(487)
            height: gem(277)
            opacity: 0
            visibility: hidden
            transition: all 300ms ease
            padding: gem(40) gem(40) gem(48)
            &-head
                display: flex
                align-items: center
                justify-content: space-between
                width: 100%
                min-height: gem(50)
                margin-bottom: gem(20)
                span
                    text-transform: uppercase
            &-subtitle
                margin-bottom: gem(40)
                max-width: gem(316)
        &-image
            pointer-events: none


.analytic-tools-section
    padding: gem(160) 0
    overflow: hidden
    &-title
        max-width: gem(480)

.tools
    position: relative
    display: flex
    align-items: flex-start
    align-content: space-between
    justify-content: flex-start
    flex-wrap: wrap
    width: gem(744)
    height: gem(548)
    left: gem(284)
    transform-style: preserve-3d
    perspective: 1000
    &-item
        position: relative
        display: inline-flex
        align-items: center
        justify-content: center
        height: gem(125)
        padding: 0 gem(34)
        border-radius: gem(2)
        background: var(--color-white)
        box-shadow: 0 0 0 1px var(--color-pale-turquoise)
        transform-origin: 50% 50%
        transition: all 300ms 0ms ease
        &:hover
            box-shadow: 24px 32px 70px -8px var(--color-shadow)
            transform: translateZ(gem(5))
        &:nth-child(odd)
            margin-right: gem(16)
        &:nth-child(1)
            padding: 0 gem(77)
            left: gem(204)
            .tools-item-image
                width: gem(202)
        &:nth-child(2)
            padding: 0 gem(58)
            left: gem(204)
            .tools-item-image
                width: gem(113)
        &:nth-child(3)
            padding: 0 gem(96)
            .tools-item-image
                width: gem(166)
        &:nth-child(4)
            padding: 0 gem(88) 0 gem(77)
            .tools-item-image
                width: gem(76)
        &:nth-child(5)
            padding: 0 gem(55)
            left: gem(102)
            .tools-item-image
                width: gem(250)
        &:nth-child(6)
            padding: 0 gem(77)
            left: gem(102)
            .tools-item-image
                width: gem(205)
        &:nth-child(7)
            padding: 0 gem(71)
            margin-right: 0
            left: gem(226)
            .tools-item-image
                width: gem(217)