.smartcare-main
	background: #F5F9FC
	.smartcare-main-top

		padding-top: gem(290)
		display: flex
		flex-direction: row
		padding-bottom: gem(192)
		p
			
			margin-top: gem(20)
			max-width: gem(524)
		.smartcare-main-top-right
			margin-left: gem(173)
.smartcare-section_two
	padding-top: gem(160)
	display: flex
	flex-direction: column
	align-items: center
	p
		
		max-width: gem(791)
		margin: auto
		margin-top: gem(20)
		text-align: center
		margin-bottom: gem(60)

	h2
		text-align: center
		
.smartcare-slick-carousel
	display: flex
	justify-content: center
	align-items: center
	.js-slick-preview
		
	.carousel-item
		color: #000
		transform: scale(0.7)
		height: gem(320)
		min-width: gem(320)
		margin: gem(0) gem(40) !important
		transition: all 0.3s ease
		margin: gem(0) gem(15)
		box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.12)
		.photo_block
			width: 100%
			height: 100%
			
			background-size: cover
			filter: brightness(70%) contrast(70%)
			overflow: hidden
			img
				min-width: 200%
				position: relative
				bottom: 0
		.text_block
			position: absolute
			bottom: 0
			padding: gem(19)
			width: 84%
			background: #fff
			h3
				font-size: gem(25)
			p
				width: auto
				text-align: left
				margin-top: gem(4)
				font-size: gem(18)
				line-height: gem(35)
				margin-bottom: gem(0)
		&.slick-center
			height: gem(220)
			transform: scale(1.6) translateY(gem(-72))
			min-width: gem(360) !important
			.photo_block
				filter: brightness(100%) contrast(100%)
				overflow: hidden
				img
					min-width: auto
			.text_block
				width: 100%
				text-align: center
				top: gem(-100)
				background: none
				padding: gem(0)
				h3
					font-size: gem(15)
				p
					font-size: gem(10)
					text-align: center
					width: 100%
					line-height: gem(15)		
	.slick-list
		padding-top: gem(245) !important
		padding-bottom: gem(100)
		display: flex
		flex-direction: row
		left: gem(-20)
	.slick-dots
		bottom: gem(-22)
		li
			button
				width: gem(10)
				height: gem(10)

.smartcare-section-three
	text-align: center
	margin-top: gem(240)
	.top_line
		p
			margin-top: gem(20)
			margin-bottom: gem(60)
	.smartcare_results
		display: flex
		flex-direction: row
		justify-content: space-between
		&:nth-child(3)
			padding-bottom: gem(100)
			.smartcare_results_cart

				p
					width: gem(270)
		.smartcare_results_cart
			border: 1px solid #25C8C4
			border-radius: 2px
			width: gem(384)
			height: gem(245)
			margin-bottom: gem(60)
			padding: gem(32) gem(30) gem(20) gem(30)
			text-align: left
			transition: all 0.3s ease
			p
				margin-top: gem(5)
			
			img
				border: 1px solid #25C8C4
				box-shadow: 0px 2px 4px rgba(51, 200, 195, 0.604294)
				border-radius: 50%
				background: rgba(51, 200, 195, 0)
				padding: gem(13) gem(11) gem(14) gem(11)
				position: relative
				top: gem(-38)
				transition: all 0.3s ease
			h3
				margin-top: gem(-44)
				font-size: gem(18)
			&:hover
				border: 1px solid #fff
				img
					background: rgba(51, 200, 195, 1)
.smartcare-section-four
	background: #082960
	.top_line
		text-align: center
		margin-top: gem(160)
		margin-bottom: gem(36)
		p
			margin-top: gem(20)
			opacity: 0.8

	.smartcare-section-four-content
		display: flex
		justify-content: flex-start
		.photo_left
			img
				box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
				&:nth-child(1)
					width: gem(689)
					position: relative
					bottom: gem(-120)
					z-index: 2
				&:nth-child(2)
					width: gem(384)
					position: absolute
					margin-left: gem(-340)
					margin-top: gem(78)
					z-index: 1
		.content_right
			margin-left: gem(216)
			h2
				margin-top: gem(204)
			p
				width: gem(486)
				opacity: 0.8
				margin-top: gem(20)
.smartcare-section-five
	background: #F5F9FC
	.smartcare-section-five-content
		display: flex
		flex-direction: row
		justify-content: flex-end
		.content_right
			margin-top: gem(336)
			margin-right: gem(313)
			margin-bottom: gem(160)
			p
				width: gem(400)
				margin-top: gem(20)
		.photo_left
			img
				&:nth-child(1)
					box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
					width: gem(483)
					position: relative
					z-index: 2
					top: gem(256)
				&:nth-child(2)
					position: absolute
					z-index: 1
					width: gem(384)
					right: gem(155)
					top: gem(304)
.smartcare-section-six
	.smartcare-section-six-content
		display: flex
		flex-direction: row
		justify-content: flex-start			
		.photo_left
			img
				&:nth-child(1)
					box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
					position: relative
					z-index: 2
					top: gem(192)
				&:nth-child(2)
					position: absolute
					z-index: 1
					top: gem(152)
					left: gem(140)
		.content_right
			margin-top: gem(272)
			margin-bottom: gem(320)
			margin-left: gem(226)
			h2
				width: gem(469)
			p
				width: gem(486)
				margin-top: gem(20)

.footer-smartcare
	h2
		margin-bottom: gem(40)
@media all and (max-width: 1024px)
	.smartcare-main 
		.smartcare-main-top
			flex-direction: column
			flex-flow: wrap
			padding-top: gem(210)
			padding-bottom: gem(130)
			.smartcare-main-top-right
				order: -1
				text-align: center
				margin: auto
				img
					width: gem(240)
					margin-bottom: gem(100)
			.smartcare-main-top-left
				text-align: center
				max-width: 100%
				margin: auto gem(15)
	.smartcare-section_two
		padding-top: gem(80)
		h2
			text-align: center
		p
			text-align: center
			width: 100%
			max-width: 100%

	.smartcare-slick-carousel
		.slick-list
			left: auto
			padding-top: gem(140) !important
			overflow: hidden
		.carousel-item ,.carousel-item.slick-center
			height: auto
			margin: auto !important
			min-width: gem(320) !important
			transform: scale(1) translateY(0)
			.photo_block
				filter: brightness(100%) contrast(100%)
				overflow: hidden
				width: 100%
				img
					width: 100%
					min-width: auto
			.text_block
				width: 100%
				text-align: center
				top: gem(-150)
				
				
				background: none
				padding: gem(0)
				padding-bottom: gem(10)
				h3
					font-size: gem(20)
				p
					font-size: gem(16)
					text-align: center
					width: 100%
					line-height: gem(24)	
		.slick-dots
			bottom: gem(-40)
	.smartcare-section-three
		margin-top: gem(160)
		.top_line 
			p
				margin-bottom: gem(20)
		.smartcare_results
			flex-direction: column
			.smartcare_results_cart
				width: 100%
				height: auto
				text-align: center
				border: none
				margin-bottom: gem(20)
				img
					top: gem(-40)
					background: #33c8c3
			&:nth-child(3)
				padding-bottom: gem(80)

	.smartcare-section-four , .smartcare-section-five ,.smartcare-section-six 
		.smartcare-section-four-content , .smartcare-section-five-content , .smartcare-section-six-content
			flex-flow: wrap
			.photo_left
				order: 2
				flex-direction: column
				align-items: flex-end
				justify-content: flex-end
				margin-top: gem(32)
				text-align: right
				margin-bottom: gem(80)
				img
					&:nth-child(1)
						width: 73%
						right: 0
						bottom: auto
						top: auto
					&:nth-child(2)
						width: gem(240)
						margin-top: 0
						margin-left: auto
						right: gem(75)
						top: auto
			.content_right
				margin-left: auto
				margin-right: auto
				h2
					margin-top: gem(80)
					margin-left: gem(20)
					width: auto
				p
					width: auto
					max-width: 90%
					margin-left: gem(20)
					margin-right: gem(20)
	.smartcare-section-four 
		.top_line
			margin-top: gem(80)
			p
				margin-left: gem(20)
				margin-right: gem(20)
	.smartcare-section-five , .smartcare-section-six
		.smartcare-section-five-content ,.smartcare-section-six-content
			.content_right
				margin-top: gem(0)
				margin-bottom: gem(0)