.smartcare-main
	background: #F5F9FC
	.smartcare-main-top

		padding-top: gem(290)
		display: flex
		flex-direction: row
		padding-bottom: gem(192)
		p
			
			margin-top: gem(20)
			width: gem(524)
		.smartcare-main-top-right
			margin-left: gem(173)
.smartcare-section_two
	padding-top: gem(160)
	display: flex
	flex-direction: column
	align-items: center
	p
		
		width: gem(791)
		margin-top: gem(20)
		text-align: center
		margin-bottom: gem(60)
.smartcare-section-three
	text-align: center
	margin-top: gem(240)
	.top_line
		p
			margin-top: gem(20)
			margin-bottom: gem(60)
	.smartcare_results
		display: flex
		flex-direction: row
		justify-content: space-between
		&:nth-child(3)
			padding-bottom: gem(100)
			.smartcare_results_cart

				p
					width: gem(270)
		.smartcare_results_cart
			border: 1px solid #25C8C4
			border-radius: 2px
			width: gem(384)
			height: gem(245)
			margin-bottom: gem(60)
			padding: gem(32) gem(30) gem(20) gem(30)
			text-align: left
			transition: all 0.3s ease
			p
				margin-top: gem(5)
			
			img
				border: 1px solid #25C8C4
				box-shadow: 0px 2px 4px rgba(51, 200, 195, 0.604294)
				border-radius: 50%
				background: rgba(51, 200, 195, 0)
				padding: gem(13) gem(11) gem(14) gem(11)
				position: relative
				top: gem(-38)
				transition: all 0.3s ease
			h3
				margin-top: gem(-44)
				font-size: gem(18)
			&:hover
				border: 1px solid #fff
				img
					background: rgba(51, 200, 195, 1)
.smartcare-section-four
	background: #082960
	.top_line
		text-align: center
		margin-top: gem(160)
		margin-bottom: gem(36)
		p
			margin-top: gem(20)
			opacity: 0.8

	.smartcare-section-four-content
		display: flex
		justify-content: flex-start
		.photo_left
			img
				box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
				&:nth-child(1)
					width: gem(689)
					position: relative
					bottom: gem(-120)
					z-index: 2
				&:nth-child(2)
					width: gem(384)
					position: absolute
					margin-left: gem(-340)
					margin-top: gem(78)
					z-index: 1
		.content_right
			margin-left: gem(216)
			h2
				margin-top: gem(204)
			p
				width: gem(486)
				opacity: 0.8
				margin-top: gem(20)
.smartcare-section-five
	background: #F5F9FC
	.smartcare-section-five-content
		display: flex
		flex-direction: row
		justify-content: flex-end
		.content_right
			margin-top: gem(336)
			margin-right: gem(313)
			margin-bottom: gem(160)
			p
				width: gem(400)
				margin-top: gem(20)
		.photo_left
			img
				&:nth-child(1)
					box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
					width: gem(483)
					position: relative
					z-index: 2
					top: gem(256)
				&:nth-child(2)
					position: absolute
					z-index: 1
					width: gem(384)
					right: gem(155)
					top: gem(304)
.smartcare-section-six
	.smartcare-section-six-content
		display: flex
		flex-direction: row
		justify-content: flex-start			
		.photo_left
			img
				&:nth-child(1)
					box-shadow: 0px 8px 60px rgba(41, 47, 83, 0.170536)
					position: relative
					z-index: 2
					top: gem(192)
				&:nth-child(2)
					position: absolute
					z-index: 1
					top: gem(152)
					left: gem(140)
		.content_right
			margin-top: gem(272)
			margin-bottom: gem(320)
			margin-left: gem(226)
			h2
				width: gem(469)
			p
				width: gem(486)
				margin-top: gem(20)

.footer-smartcare
	h2
		margin-bottom: gem(40)