.smartcare-main
	background: #F5F9FC
	.smartcare-main-top

		padding-top: gem(290)
		display: flex
		flex-direction: row
		padding-bottom: gem(192)
		p
			
			margin-top: gem(20)
			width: gem(524)
		.smartcare-main-top-right
			margin-left: gem(173)
.smartcare-section_two
	padding-top: gem(160)
	display: flex
	flex-direction: column
	align-items: center
	p
		
		width: gem(791)
		margin-top: gem(20)
		text-align: center
		margin-bottom: gem(60)
.smartcare-section-three
	text-align: center
	margin-top: gem(240)
	.top_line
		p
			margin-top: gem(20)
			margin-bottom: gem(60)
	.smartcare_results
		display: flex
		flex-direction: row
		justify-content: space-between
		&:nth-child(3)
			padding-bottom: gem(100)
			.smartcare_results_cart

				p
					width: gem(270)
		.smartcare_results_cart
			border: 1px solid #25C8C4
			border-radius: 2px
			width: gem(384)
			height: gem(245)
			margin-bottom: gem(60)
			padding: gem(32) gem(30) gem(20) gem(30)
			text-align: left
			transition: all 0.3s ease
			p
				margin-top: gem(5)
			
			img
				border: 1px solid #25C8C4
				box-shadow: 0px 2px 4px rgba(51, 200, 195, 0.604294)
				border-radius: 50%
				background: rgba(51, 200, 195, 0)
				padding: gem(13) gem(11) gem(14) gem(11)
				position: relative
				top: gem(-38)
				transition: all 0.3s ease
			h3
				margin-top: gem(-44)
				font-size: gem(18)
			&:hover
				border: 1px solid #fff
				img
					background: rgba(51, 200, 195, 1)
.smartcare-section-four
	background: #082960
	.top_line
		text-align: center
		margin-top: gem(160)
		margin-bottom: gem(120)
		p
			margin-top: gem(20)
			opacity: 0.8
.footer-smartcare
	h2
		margin-bottom: gem(40)